{% extends 'AppBundle::base.html.twig' %}

{% block jumbotron %}

    <div class="jumbotron">
        <div class="container">
            <p>
                Utilisez ce formulaire pour nous soumettre vos publication scientifiques.<br>
                Nos modérateurs procèderont à la validation de votre publication dans les plus brefs délais !
            </p>
        </div>
    </div>

{% endblock %}


{% block content %}

    <h2 class="text-center">Details of your publication</h2>

    <!-- Formulaire de publication -->
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('app_home') }}" class="btn btn-sm btn-default">
                Back to the list
            </a>
        </li>
    </ul>


{% endblock %}
